.card_container {
    background-color: rgb(248, 248, 248);
    width: 18vw;
    height: 58vh;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 0.5vw;
}
.image_card{
    margin-top:0;
    width: 18vw;
    height: 31vh;
    background-color: rgb(0, 139, 53);
    display: flex;
    margin: 0;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
.category_producto{
    background: rgb(4, 0, 255);
    width: 18vw;
    height: 4vh;
    margin: 0;
    z-index: 5;
}
.card_title{
    background: chartreuse;
    width: 18vw;
    height: 4vh;
    margin: 0;
}
.card_description{
    background: rgb(0, 195, 255);
    margin: 0;
    width: 18vw;
    height: 4vh;
  
}
.card_points_value{
    background: rgb(140, 0, 255);
    margin: 1vh 0  0.5vh 0;
    width: 18vw;
    height: 5vh;
    left: 0;
}
.card_details{
    margin: 2vh 0 0 0;
    width: 16vw;
    height: 6vh;
    background: #c50000;
    color: #FFFFFF;
    left: 1vw;
    font-size: 1em;

}
.card_send_cart{
    width: 16vw;
    height: 5vh;
    color: #c50000;
    margin: 2vh 0 0 0;
}