.contain_catalogo{
  height: 220vh;
  width: 100vw;
  background: #fffbfb;
  display: flex;
}
.products{
    height: 175vh;
    width: 80vw;
    top:40vh;
    left:18vw;
    background: #d8d8d8;
    position: absolute;
    display: grid;
    overflow-y: scroll;
    padding-bottom:2vh;
    padding-top: 1vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vh;
    grid-row: auto;

}
.products::-webkit-scrollbar {
    -webkit-appearance: none;
}

.products::-webkit-scrollbar:vertical {
    width:0.8vw;
}

.products::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.products::-webkit-scrollbar:horizontal {
    height: 4vh;
}

.products::-webkit-scrollbar-thumb {
    background-color: #990000;
    border-radius: 20px;
}
.products::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.lupa1{
    height: 4vh;
    position: absolute;
    top:31.5vh;
    left: 29.5vw;
}
.buscar{
    height: 5vh;
    width: 32vw;
    position: absolute;
    top:31vh;
    left: 32vw;
    outline-width: 0;
    border-bottom: 1.5px solid #c50000;
    border-right: none;
    border-top: none;
    border-left:none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.button_buscar{
    position: absolute;
    top:31vh;
    height: 5vh;
    width: 8vw;
    right: 26vw;
    background: none;
    color: #c50000;
    border-left: 1.5px #c50000 solid;
    border-bottom: 1.5px #c50000 solid;
    border-top: 1.5px #c50000 solid;
    border-right: 1.5px #c50000 solid;
    outline: none;
    text-decoration: none !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.1em;
}
.button_buscar:hover{
    cursor: pointer;
    background:#c50000;
    color: #FFFFFF;
}
.filtro{
    top:40vh;
    height: 60vh;
    width: 15vw;
    position: absolute;
    background-color: rgb(128, 127, 127);
    flex-direction: column;
    display: flex;
    padding: 1vw;
    animation: strech;
}
.title_filtro{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.op{
    width: 10vw;
    height: 4vh;
    top:2vh;
    color: #FFFFFF;
    margin: 2vh 2vw 2vh 1.2vw;
    display: flex;
}