.contain_catalogo{
  height: 220vh;
  width: 100vw;
  background: #fffbfb;
  display: flex;
}
.products{
    height: 170vh;
    width: 81vw;
    top:40vh;
    left:16.8vw;
    background: #e4e4e4;
    position: absolute;
    display: grid;
    overflow-y: scroll;
    padding-bottom:1vh;
    padding-top: 1vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.3vh;
    grid-row: auto;

}
.products::-webkit-scrollbar {
    -webkit-appearance: none;
}

.products::-webkit-scrollbar:vertical {
    width:0.5vw;
}

.products::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.products::-webkit-scrollbar:horizontal {
    height: 4vh;
}

.products::-webkit-scrollbar-thumb {
    background-color: #027789;
    border-radius: 20px;
}
.products::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.lupa1{
    height: 4vh;
    position: absolute;
    top:31.5vh;
    left: 29.5vw;
}
.buscar{
    height: 5vh;
    width: 36vw;
    position: absolute;
    top:31vh;
    left: 32vw;
    outline-width: 0;
    border-bottom: 1.5px solid #027789;
    border-right: none;
    border-top: none;
    border-left:none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    text-transform:lowercase;
}

.button_buscar{
    position: absolute;
    top:31vh;
    height: 5vh;
    width: 8vw;
    right: 26vw;
    background: none;
    color: #027789;
    border-left: 1.5px #027789 solid;
    border-bottom: 1.5px #027789 solid;
    border-top: 1.5px #027789 solid;
    border-right: 1.5px #027789 solid;
    outline: none;
    text-decoration: none !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.1em;
}
.button_buscar:hover{
    cursor: pointer;
    background:#027789;
    color: #FFFFFF;
}
.filtro{
    top:40vh;
    height: 67vh;
    width: 15vw;
    position: absolute;
    background-color: rgb(129, 129, 129);
    flex-direction: column;
    display: flex;
    padding: 1vw;
    animation: strech;
}
.title_filtro{
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-bottom: 0;
}
.op{
    width: 10vw;
    height: 4vh;
    top:0;
    color: #FFFFFF;
    margin:0.5vh 1.5vw;
    display: flex;
    flex-direction: column;
}
.op label{
    margin: 2vh 0;
    font-size: 1.1em;
}
input[type="radio"] {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
    transform: scale(1.4);
    margin-right: 1vw;
}
.help{
    width: 15vw;
    height: 13vh;
    top:110vh;
    position: absolute;
    padding: 1vh 1vw;
    left: 0;
    background-color: #027789;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn_help{
    width: 13.5vw;
    height: 13vh;
    position: absolute;
    margin: 0;
    left: 0.7vw;
    border: 0;
    top: 0;
    color: #027789;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.asesor_help{
    height: 6vh;
    margin-right: 0.9vw;
    margin-left:0.5vw;
}
.help:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}
.btn_help:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.dimension_btn {
    width: 15vw;
    height: 30vh;
    top:125vh;
    position: absolute;
    padding: 1vh 1vw;
    left: 0;
}
