.conteinerForm{
  width: 100%;
} 

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #b3b3b3;
  margin-top: 11vh;
}

.contentForm{
  width: 100%;
}

.lb_form{
  width: 25%;
  float: left;
  text-align: left;
  margin-top: 1rem;
  font-weight: bold;
}

.int_form{
  width: 74%;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.error_form{
  border: 0.1rem solid #027789;
}

.valid_form{
  border: 0.1rem solid #08a62c;
}


.FontAwesomeBtn{
  background: #027789;
  border: 0.1rem solid #027789;
  position: relative;
  left: -13vw;
  top: -6.3vh;
}

.searchBtn{
  width:70px;
  height:70px;
  float: right;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

select{
  width:70%;
  margin-top: 1rem;
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.btn1{
  line-height: 3;
  margin-right: .28rem;
  background: #ffffff;
  color:#027789;
  border:#027789 1px solid;
  font-size: 1.1em;
  width: 10vw;
}
.btn2{
  line-height: 3;
  margin-right: .28rem;
  background: #ffffff;
  color:#027789;
  border:#027789 1px solid;
  font-size: 1.1em;
  width: 10vw;

}
.btn1:hover{
  background-color: #027789;
  cursor: pointer;
  color: #ffffff;
} 

.btn2:hover{
  background-color: #027789;
  cursor: pointer;
  color: #ffffff;
} 

.errores{
  font-weight: bold;
  color: #027789;
  font-size: 1em;
}

#divImage{
  width:460px;
  height:100%;
  border: 1px solid #027789;
  float: right;
}
.drag_image{
  display: none;
}
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-left-color: #09f;
  margin: 30px;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
