.header{
    height: 27vh;
    width: 100vw;
    background: #1d316b;
    color: #FFFFFF;
}
.main{
    height: 12vh;
    width: 100vw;
    display: flex;
    margin-top:14.3vh;
    padding-left: 71vw;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none !important;
}
a{
    list-style: none;
    text-decoration: none !important;
    color: #FFFFFF;
}
.main1{
    right: 2vw;
}
.logoH{
    height: 10vh;
    position: absolute;
    margin-top: 6vh;
    margin-left: 3vw;
    border-radius: 1000px;
}
.nameH{
    position: absolute;
    margin: 9vh 0 0 9vw;
    font-size: 1.5em;

}
