.header{
    height: 27vh;
    width: 100vw;
    background: #1d316b;
    color: #FFFFFF;
    z-index: 5;
}
.main{
    height: 12vh;
    width: 100vw;
    display: flex;
    margin-top:14.3vh;
    padding-left: 65.5vw;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none !important;

}
a{
    list-style: none;
    text-decoration: none !important;
    color: #FFFFFF;
    padding-left: 1vw;
}
.main1{
    left: 4vw;
   height: 5vh;
   width: auto;
}
.main2{
    right: 3vw;
    position: absolute;
}
.carro{
    position: absolute;
    height: 6vh;
    top: 18vh;
    right: 9vw;
}
.logoH{
    height: 10vh;
    position: absolute;
    margin-top: 6vh;
    margin-left: 3vw;
    border-radius: 1000px;
}
.nameH{
    position: absolute;
    margin: 9vh 0 0 9vw;
    font-size: 1.5em;

}
.global_points{
    position: absolute;
    height: 7.3vh;
    width: 11vw;
    right: 15vw;
    top: 1.5vh;

}
.point{
    position: absolute;
    height: 6vh;
    left: 0.5vw;
    margin-top:0.7vh;
}
.point1{
    position: absolute;
    height: 4.5vh;
    top:1vh;
    left: 0.5vw;
}
.point2{
    position: absolute;
    height: 3.8vh;
    top:1.2vh;
    left: 0.5vw;
}
.user{
    position: absolute;
    height: 5.8vh;
    width: 8.3vw;
    right: 7vw;
    border-right: 1.5px #ffffff solid;
    border-left: 1.5px #ffffff solid;
    top: 1.5vh;
}
.es{
    width: 6vw;
    text-align:center ;
    position: absolute;
    left: 0.35vw;
    bottom: 0.15vh;
}
.name_u{
    position: absolute;
    right: 1vw;
    bottom: -1.2vh;
}
.sumaP{
    width: 6vw;
    text-align:center ;
    position: absolute;
    right: 1.3vw;
    margin-top:0.5vh;
}
.idioma{
    position: absolute;
    height: 7.3vh;
    width: 5vw;
    right: 2vw;
    top: 1.5vh;
}
ul:hover{
    cursor: pointer;
    color: #00bae9;
    border-radius: 30px;
    text-align: center;
}
