.container{
  height: 245vh;
  width: 100vw;
  background: #FFFFFF;
  display: flex;
  overflow-x: hidden;
}
.imagen1{
    width: 46vw;
    height: 60vh;
    margin-left: 0;
    position: absolute;
    top:30vh;
    background-size: cover;
    display: none;
}
.mascota{
    width: 20vw;
    height: 42vh;
    display: flex;
    left: 10vw;
    position: absolute;
    top:162vh;
    border-radius: 1000px;
    z-index: 5;
    transform: rotate(-5deg);
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}
.mascota:hover{
  cursor: pointer;
  left: 10vw;
  top: 160vh;
}
.celular1{
  width: 20vw;
  height: 42vh;
  display: flex;
  right: 39.3vw;
  position: absolute;
  top:108vh;
  border-radius: 1000px;
  z-index: 5;
  transform: rotate(-5deg);
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}
.celular1:hover{
  cursor: pointer;
  right: 39.3vw;
  top: 106vh;
}
.deportes{
  width: 20vw;
  height: 42vh;
  display: flex;
  right: 10vw;
  position: absolute;
  top:108vh;
  border-radius: 1000px;
  z-index: 5;
  transform: rotate(-5deg);
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}
.deportes:hover{
  cursor: pointer;
  right: 10vw;
  top: 106vh;
}
.title6{
  position: absolute;
  color: #ffffff;
  top:139vh;
  right: 11.5vw;
  font-size: 1.3em;
  z-index: 6;
  height: 7vh;
  width: 17vw;
  background-image: url(/src/images/fn_main.jpg);
  text-align: center;
  padding-top: 1vh;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}
.compu{
  width: 20vw;
  height: 42vh;
  display: flex;
  right: 39.3vw;
  position: absolute;
  top:162vh;
  border-radius: 1000px;
  z-index: 5;
  transform: rotate(-5deg);
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}
.compu:hover{
  cursor: pointer;
  right: 39.3vw;
  top: 160vh;
}
.viaje{
  width: 20vw;
  height: 42vh;
  display: flex;
  right: 10vw;
  position: absolute;
  top:162vh;
  border-radius: 1000px;
  z-index: 5;
  transform: rotate(-5deg);
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}
.viaje:hover{
  cursor: pointer;
  right: 10vw;
  top: 160vh;
}
.vd1{
  height: 124vh;
  position: absolute;
  top:-35vh;
  margin-left: -0.7vw;
  z-index: 3;
  left: 0;
}
.container::after{
  content:"";
  position:absolute;
  color: #FFFFFF;
  font-size: 1.5em;
  top:27vh;
  left:0;
  width:100vw;
  height:62vh;
  margin-left: 0;
  text-align:right;
  right: 2vw;
  background:rgba(0, 0, 0, 0.322);
  z-index:4;

}
.bolso1{
  position:absolute;
  top: 108vh;
  height: 42vh;
  left: 10vw;
  width: 20vw;
  border-radius: 1000px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.7);
}
.bolso1:hover{
  cursor: pointer;
  left: 10vw;
  top: 106vh;
}
.title1{
  position: absolute;
  color: #ffffff;
  top:44vh;
  left: 2vw;
  z-index: 6;
  font-size: 3em;
}
.title5{
  position: absolute;
  color: #ffffff;
  top:139vh;
  right: 40.8vw;
  font-size: 1.3em;
  z-index: 6;
  height: 7vh;
  width: 17vw;
  background-image: url(/src/images/fn_red.jpg);
  text-align: center;
  padding-top: 1vh;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}
.title2{
  position: absolute;
  color: #ffffff;
  top:193vh;
  left: 11.5vw;
  font-size: 1.3em;
  z-index: 6;
  height: 7vh;
  width: 17vw;
  background-image: url(/src/images/fn_red.jpg);
  text-align: center;
  padding-top: 1vh;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}

.title3{
  position: absolute;
  color: #ffffff;
  left: 11.5vw;
  top:139vh;
  font-size: 1.3em;
  z-index: 6;
  height: 7vh;
  width: 17vw;
  background-image: url(/src/images/fn_main.jpg);
  background-size: contain;
  text-align: center;
  vertical-align: center;
  padding-top: 1vh;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}
.title7{
  position: absolute;
  color: #ffffff;
  top:193vh;
  right: 40.8vw;
  font-size: 1.3em;
  z-index: 6;
  height: 7vh;
  width: 17vw;
  background-image: url(/src/images/fn_main.jpg);
  text-align: center;
  padding-top: 1vh;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}
.title8{
  position: absolute;
  color: #ffffff;
  top:193vh;
  right: 11.5vw;
  font-size: 1.3em;
  z-index: 6;
  height: 7vh;
  width: 17vw;
  background-image: url(/src/images/fn_red.jpg);
  text-align: center;
  padding-top: 1vh;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}
.redes{
  position:absolute;
  z-index: 7;
  height: 8vh;
  width: 25vw;
  top: 211vh;
  left: 39vw;
  padding: 0 3vw 0 2vw;
  flex-direction: row;
  
}
.group{
  position: absolute;
  height: 8vh;
  right: 3vw;
  top:1.5vh;
  filter: grayscale();
}
.title4{
  position: absolute;
  left: 1vw;
  color: rgb(46, 46, 46);
  font-size: 1.1em;
}
.log{
  padding: 0 0.5vw 0 0.5vw;
  opacity: 0.7;
}
.log:hover{
  cursor: pointer;
}