.header{
    height: 30vh;
    width: 100vw;
    background-color: #2A4494;
    color: #FFFFFF;
}
.main{
    height: 12vh;
    width: 100vw;
    display: flex;
    margin-top:18vh;
    padding-left: 71vw;
    font-size: 1.5em;
    cursor: pointer;
}
.main1{
    right: 2vw;
}
.logoH{
    height: 16vh;
    position: absolute;
    margin-top: 8.5vh;
    margin-left: 3vw;
}